version: '3.7'

networks:
  company_manager:
    name: company_manager
    ipam:
      config:
        - subnet: 172.46.0.0/16

services:
  company-manager-api:
    container_name: company-manager-api
    env_file:
      - .env
    build: 
      context: ../company-manager-api/docker/node
      dockerfile: Dockerfile
    networks:
      company_manager:
    expose:
      - 5000
    volumes:
      - ../company-manager-api/:/app
      - /app/node_modules
      - ../company-manager-api/docker/logs/node/:/app/logs
    ports:
      - 5000:5000
      - 9229:9229
    command: ["npm", "run", "start:dev"]
    depends_on:
      - postgres
    restart: always
    
  postgres:
    container_name: postgres
    image: postgres:12
    env_file:
      - .env
    environment:
      - PG_DATA=/var/lib/postgresql/PG_DATA
    ports:
      - 5432:5432
    volumes:
      - ../company-manager-api/docker/db:/var/lib/postgresql/data
    restart: always